doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/resource/css/style.css')
  title &Dstrok;&abreve;ng k&iacute;
.main
  form#form-1.form(action='auth/signup', method='POST')
    h3.heading Đăng kí tài khoản
    if errors
      each error in errors
        .spacer= error
    .form-group
      label.form-label(for='fullname') T&ecirc;n &dstrok;&#x1EA7;y &dstrok;&#x1EE7;
      input#fullname.form-control(name='fullname', type='text', placeholder='VD: Thường Nguyễn')
      span.form-message
    .form-group
      label.form-label(for='email') Email
      input#email.form-control(name='email', type='text', placeholder='VD: email@domain.com')
      span.form-message
    .form-group
      label.form-label(for='password') M&#x1EAD;t kh&#x1EA9;u
      input#password.form-control(name='password', type='password', placeholder='Nhập mật khẩu')
      span.form-message
    .form-group
      label.form-label(for='password_confirmation') Nh&#x1EAD;p l&#x1EA1;i m&#x1EAD;t kh&#x1EA9;u
      input#password_confirmation.form-control(name='password_confirmation', placeholder='Nhập lại mật khẩu', type='password')
      span.form-message
    button.form-submit &Dstrok;&abreve;ng k&yacute;
script(src='/resource/js/validator.js')
script.
  Validator({
  form: '#form-1',
  errorSelector: '.form-message',
  formGroupSelector: '.form-group',
  rules: [
  Validator.isRequired('#fullname'),
  Validator.isRequired('#email'),
  Validator.isRequired('#password_confirmation'),
  Validator.isEmail('#email'),
  Validator.isCheckPassword('#password'),
  Validator.isConfirmed('#password_confirmation', function() {
  return document.querySelector('#form-1 #password').value;
  }, 'Mật khẩu nhập lại không chính xác')
  ],
  // onSubmit: function(data) {
  //   //CALL API
  //   console.log(data);
  // }
  });
